@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
html{
    scroll-behavior: smooth;
}

*,
::before,
::after{
    box-sizing: border-box;
}

.thanking-customers-section-modal-title {
    color: #d0b200;
    font-weight: 800;
}

.icon {
    color: #d0b200;
    font-size: 35px;
}

.follow-us-section-heading {
    text-align: center;
}

.follow-us-icon-container {
    width: 80px;
    height: 80px;
    background-color: #faf7e8;
    padding-bottom: 14px;
    padding-left: 22px;
    padding-right: 16px;
    padding-top: 22px;
    margin: 15px;
    border-radius: 40px;
}

.healthy-food-section {
    background-color: #f9fbfe;
}

.healthy-food-section-img {
    width: 270px;
}

.healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}


.delivery-and-payment-section {
    background-color: white;
}

.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.custom-button {
    outline: none !important;
    transition: transform 0.1s ease;
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

button:active {
    transform: translateY(2px); 
}


.thanking-customers-section {
    background-image: radial-gradient(#fff8bd, #fae38c);
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.custom-button {
    color: white;
    background-image: linear-gradient(#d0b200, #a58d00);
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.menu-item-card {
    border-radius: 16px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.menu-item-img {
    border-radius: 16px;
}

.menu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.explore-menu-section {
    background-color: white;
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 28px;
    color: #183b56;
}

.wcu-section-description {
    font-family: "Roboto";
    font-size: 16px;
    color: #5a7184;
}

.wcu-card {
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card:hover{
    box-shadow: 10px 10px #d0b200;
    transition: ease-in-out 0.3s;
}


.wcu-card-img {
    height: 90px;
    width: 87px;
}

.wcu-card-title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 22px;
    color: #323f4b;
}

.wcu-card-description {
    font-family: "Roboto";
    font-size: 16px;
    color: #7b8794;
}

.offers {
    font-style: italic;
    font-weight: 600;
    color: #323f4b;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

.food-munch-logo {
    height: 70px;
    width: 80px;
}

.banner-section-bg-container {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png');
    background-size: cover;
    height: 100vh;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-caption {
    color: white;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.custom-button {
    height: 45px;
    width: 130px;
    color: white;
    background-color: #d0b200;
    border-radius: 8px;
    border-width: 0px;
    margin-right: 10px;
    
}


.custom-outline-button {
    height: 45px;
    width: 130px;
    color: #d0b200;
    background-color: transparent;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
}

.nav-link.active{
    border-bottom: 1px solid #d0b200;
}

